.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.icon-btn {
    cursor: pointer;
}

.row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}